.ds-root {
    position: relative;

    .ds-bar {
        display: flex;
        border: 1px solid #cacaca;
        align-items: center;
        border-radius: 20px;
        padding: 4px;
        overflow: hidden;
        box-shadow: 1px 2px 2px #2828284f;

    }

    .ds-wrap.active {
        width: 100%;
        padding: 5px 0 5px;
        box-shadow: 1px 2px 8px #2828284f;
        border-radius: 4px 4px 15px 15px;
        background: #fff;
        z-index: 2;
        position: absolute;

        .ds-bar {
            border: none;
            box-shadow: none;
            border-radius: 0;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .ds-overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
        }
    }

    .ds-input {
        width: 100%;
        padding: 10px;
        margin: 0;
        border: none;
        font-size: 16px;
        color: #3e3c3c;

        &:active,
        &:focus {
            outline: none;
            border: none;
        }
    }

    .ds-icon {
        display: flex;
        align-items: center;
        margin-right: 10px;
        cursor: pointer;

        svg {
            width: 22px;
            height: 22px;
        }

        &__search,
        &__clear {
            display: flex;
        }
        &__clear {
            fill: #aaaaaa;
            margin-right: 8px;
        }
    }

    .ds-options {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        width: auto;
        opacity: 1;
        margin: 5px 15px 15px;
        padding: 25px 10px;
        border-top: 1px solid #e2e2e2;

        &__pt,
        &__cat,
        &__tag {
            font-size: 14px;

            .ds__control,
            .ds__control:hover {
                border-color: #aeaeae;
                box-shadow: 0 0 0 1px #b4b4b4;
            }
        }
    }
}
