.block-editor-block-list__block {
    .ds-bar {
        display: flex;
        border: 1px solid #cacaca;
        align-items: center;
        border-radius: 20px;
        padding: 8px;
        overflow: hidden;
        box-shadow: 1px 2px 2px #2828284f;

        .ds-input {
            width: 100%;
            padding: 10px;
            margin: 0;
            border: none;
            font-size: 16px;
            color: #3e3c3c;

            &:active,
            &:focus {
                outline: none;
                border: none;
            }
        }

        .ds-icon {
            margin: 8px 8px 2px 0;

            svg {
                width: 25px;
                height: 25px;
            }
        }
    }
}

.ds-root {
    position: relative;

    .ds-bar {
        display: flex;
        border: 1px solid #cacaca;
        align-items: center;
        border-radius: 20px;
        padding: 8px;
        overflow: hidden;
        box-shadow: 1px 2px 2px #2828284f;

    }

    .ds-wrap.active {
        width: 100%;
        padding: 5px 0 5px;
        box-shadow: 1px 2px 8px #2828284f;
        border-radius: 4px 4px 15px 15px;
        background: #fff;
        z-index: 2;
        position: absolute;

        .ds-bar {
            border: none;
            box-shadow: none;
            border-radius: 0;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .ds-overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
        }
    }

    .ds-input {
        width: 100%;
        padding: 10px;
        margin: 0;
        border: none;
        font-size: 16px;
        color: #3e3c3c;

        &:active,
        &:focus {
            outline: none;
            border: none;
        }
    }

    .ds-icon {
        display: flex;
        align-items: center;
        margin-right: 10px;
        cursor: pointer;

        svg {
            width: 25px;
            height: 25px;
        }

        &__search,
        &__clear {
            display: flex;
        }
        &__clear {
            fill: #aaaaaa;
            margin-right: 8px;
        }
    }

    .ds-options {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        margin: 5px 15px 15px;
        padding: 25px 10px;
        border-top: 1px solid #e2e2e2;

        &__pt,
        &__cat,
        &__tag {
            font-size: 14px;

            .ds__control,
            .ds__control:hover {
                border-color: #e8e8e8;
                box-shadow: 0 0 0 1px #b4b4b4;
            }
        }
    }

    .ds-postlist {
        margin: 5px;
        padding: 5px 10px;
        position: relative;

        &__loader {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90%;
        }

        &__close {
            position: absolute;
            top: -4px;
            right: 5px;
            cursor: pointer;

            svg {
                width: 18px;
                height: 18px;
            }
        }

        &__inner {
            height: 270px;
            margin-top: 40px;
            overflow-y: scroll;
            scrollbar-color: #b4b4b4 #e3e3e37c;
            scrollbar-width: thin;
        }

        &__post {
            display: flex;
            flex-direction: column;
            padding: 10px 0;
            border-bottom: 1px solid #eee;

            &-title {
                font-size: 30px;
                line-height: 1.3;
                text-decoration: none;
                color: #027141;
            }
            &-date {
                font-size: 14px;
                color: #696969;
            }
        }

        &__pagination {
            display: flex;
            justify-content: center;
            margin: 25px 0;
            gap: 8px;

            &-btn {
                background: #fff;
                color: #4f4f4f;
                border: 1px solid #027141;
                border-radius: 5px;
                padding: 3px 8px;
                font-size: 12px;
                cursor: pointer;
            }
        }
    }
}
