#ds-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 50px;

    .components-notice {
        width: 55.5%;
        position: absolute !important;
        top: -10px;
    }

    .ds-configs {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        padding: 50px 50px 60px;
        background-color: #fff;

        h2 {
            font-size: 25px;
            margin: 20px 0 30px;
        }

        &__config {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #ddd;
            width: 53%;
            padding: 25px 0 15px;

            &-label {
                margin-right: 15px;
            }

            .components-number-control {
                max-width: 70px;
            }
        }

        &__save {
            padding: 22px 50px;
            margin-top: 30px;
            background-color: #027141;
            color: #fff;
            border-radius: 4px;
            font-size: 18px;

            &.is-busy {
                background-image: linear-gradient(-45deg, #027141 33%, #0da060 0, #027141 70%, #027141 0);
            }
        }
    }
}
